.dashboard-container {
  padding: 20px;
  background-color: #f0f4ff;
}

h2 {
  color: #333;
}

button {
  margin: 5px;
  background-color:blue;
  padding: 10px;
  color:white;
  border: none;
}

.task-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}

.task-card {
  background-color: #e0f7fa; /* Light blue background for the card */
  border: 1px solid #b2ebf2; /* Border color */
  border-radius: 8px;
  padding: 20px;
  width: 250px; /* Fixed width for each card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-between; /* Align buttons to the edges */
}

.delete-button {
  background-color: #ff5252; /* Red for delete */
  color: white;
}

.edit-button {
  background-color: #ffa726; /* Orange for edit */
  color: white;
}

.details-button {
  background-color: #42a5f5; /* Blue for view details */
  color: white;
}
